Flask==2.2.2
gunicorn
Werkzeug==2.2.2
dateutils
millify
numpy
openai
pandas
pandas-profiling
pandasai
plotly
python-dotenv
streamlit==1.32.2
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-embedcode==0.1.2
streamlit-extras==0.4.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.3
streamlit-option-menu==0.3.12
streamlit-pandas-profiling==0.1.3
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
